.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 250ms, visibility 250ms;
  &.is-hidden .modal {
    transform: skewX(45deg) scale(0.8) rotate(-180deg);
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: scale(1) skewX(0deg) translate(-50%, -50%) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
  margin-bottom: 12px;
}

.modal-form__lable {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--first-text-color);
  margin-bottom: 4px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__input {
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &:focus + .modal-form__icon {
    fill: var(--accent-color);
  }
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__coment {
  padding: 12px 16px;
  width: 100%;
  min-height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal-form__lable-checkbox {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal-form__checkox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-form__check {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8.38px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.modal-form__icon-check {
  fill: #ffffff;
}

.modal-form__checkbox:checked + .modal-form__lable-checkbox .modal-form__check {
  background-color: var(--accent-color);
  border: none;
}
