:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --first-text-color: #757575;
  --second-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --first-button-color: #ffffff;
  --second-button-color: #212121;
  --accent-color: #2196f3;
  --logo-header-color: #000000;
  --header-link-color: #212121;
  --header-contact-color: #757575;
  --logo-footer-color: #ffffff;
  --hero-background-color: #2f303a;
  --foter-background-color: #2f303a;
  --team-background-color: #f5f4fa;
}
